img {
    display: block;
    margin: auto;
}

.bio, li {
  text-align: center;
  list-style-type: none;
}

.profile-name {
  text-align: center;
}

.profile-name, h1 {
  font-size: 100px;
}

.fadein {
  animation: fadeInDown 3s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
