body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: center;
}

.navbar-default {
  /*background: transparent;*/
  /*background-color: #292d32;*/
}

.profile-pic {
  width: 80%;
  filter: grayscale(1);
}

.wyncode {
  width: 70%;
}

.bio {
padding-left: 0% !important;
padding-right: 0% !important;
}

.profile-name {
  text-align: center;
  padding-top: 25%;
  padding-bottom: 25%;
  background-image: url(images/codingpic.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-name, h1 {
  font-size: 100px;
}

.fadein {
  animation: fadeInDown 3s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.aboutme {
  background-color: #fafafa;
}

.team {
  padding-top: 5%;
  padding-bottom: 5%;
  z-index: 1;
  width: 100%;
  overflow: auto;
  top: 0px;
  left: 0px;
  background-color: #fafafa;
  color: #282c31;
}

.bio-container {
  padding-right: 5% !important;
}

.projects{
  background-image: url(images/coffeecomp.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.demos {
  text-align: center;
  /*margin-top: 10%;*/
  color: #fafafa;
}

#videos {
  margin-top: 3%;
  margin-bottom: 3%;
}

#exTab3 {
  text-align: center;
}

#exTab3 .tab-content {
  text-align: -webkit-center;
  color : #fafafa;
  padding : 15px 15px;
}

.nav-center {
  text-align: center;}
  ul.nav {
    display: inline-block;}
    li {
      display: inline}


.tab-pane {
  text-align: -webkit-center;
}

.description {
  width: 65%;
  margin: 15px 0px 30px !important;
}

.contact {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.connect, li {
  list-style-type: none;
}

/* Twitter */
.twitter {
  background-image: url(images/twitter.png);
  background-size: contain;
  background-repeat: no-repeat;
  /*background: #3498db;*/
  color: white;
  transition: all 0.7s ease-in-out 0s;
}

.twitter:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.7s ease-in-out 0s;
}

.linkedin {
  background-image: url(images/linkedin.png);
  background-size: contain;
  background-repeat: no-repeat;
  /*background-color: #0077B5;*/
  color: white;
  transition: all 0.7s ease-in-out 0s;
}

.linkedin:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.7s ease-in-out 0s;
}

.github {
  background-image: url(images/Github.png);
  background-size: contain;
  background-repeat: no-repeat;
  /*background-color: black;*/
  color: white;
  transition: all 0.7s ease-in-out 0s;
}

.github:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.7s ease-in-out 0s;
}

.fa {
  padding: 3%;
  font-size: 30px;
  width: 6%;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.media {
  text-align: center;
  background-color: #fafafa;
}

.links {
  color: #282c31;
}

.container-fluid {
  color: #282c31;
  padding-bottom: 1%;
}

.skills {
  margin-top: 3%;
  background-color: #39414a !important;
}

.icons {
  width: 25%;
  margin-top: 7%;
}

.progress{
  margin-top: 10% !important;
}
