img {
    display: block;
    margin: auto;
}

.bio, li {
  text-align: center;
  list-style-type: none;
}

.profile-name {
  text-align: center;
  padding-top: 20%;
  padding-bottom: 25%;
}

.profile-name, h1 {
  font-size: 100px;
}

.fadein {
  animation: fadeInDown 3s;
  text-align: center;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.left.carousel-control.demo {
  background-image: none;
  color: red;
}

.right.carousel-control.demo {
  background-image: none;
  color: red;
}

.main {
  background-color: #8fabca;
  padding-top: 5%;
  padding-bottom: 5%;
}

.bio {
  padding-left: 25%;
  padding-right: 25%;
}

.carousel-inner img {
  max-height: 350px;
}

.carousel-inner video {
  width: 100%;
  max-height: 350px;
}

.btn {
  border: 2px solid;
  border-radius: 25px;
}
